---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-primaza-io-v1alpha1-claim
  failurePolicy: Fail
  name: vclaim.kb.io
  rules:
  - apiGroups:
    - primaza.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - claims
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-primaza-io-v1alpha1-serviceclass
  failurePolicy: Fail
  name: vserviceclass.kb.io
  rules:
  - apiGroups:
    - primaza.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - serviceclasses
  sideEffects: None
