# permissions for end users to view servicebindings.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: servicebinding-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: primaza
    app.kubernetes.io/part-of: primaza
    app.kubernetes.io/managed-by: kustomize
  name: servicebinding-viewer-role
rules:
- apiGroups:
  - primaza.io
  resources:
  - servicebindings
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - primaza.io
  resources:
  - servicebindings/status
  verbs:
  - get
