# permissions for end users to edit servicecatalogs.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: servicecatalog-editor-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: primaza
    app.kubernetes.io/part-of: primaza
    app.kubernetes.io/managed-by: kustomize
  name: servicecatalog-editor-role
rules:
- apiGroups:
  - primaza.io
  resources:
  - servicecatalogs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - primaza.io
  resources:
  - servicecatalogs/status
  verbs:
  - get
