---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: servicecatalogs.primaza.io
spec:
  group: primaza.io
  names:
    kind: ServiceCatalog
    listKind: ServiceCatalogList
    plural: servicecatalogs
    singular: servicecatalog
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ServiceCatalog is the Schema for the servicecatalogs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ServiceCatalogSpec defines the desired state of ServiceCatalog
            properties:
              foo:
                description: Foo is an example field of ServiceCatalog. Edit servicecatalog_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: ServiceCatalogStatus defines the observed state of ServiceCatalog
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
